<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Vocacional</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap" rel="stylesheet">
</head>
<body class="test">
    <a href="{{ url_for('index') }}" class="restart-button">Reiniciar Test</a>
    <div class="test-container">
        <h1>Test Vocacional</h1>
        <form action="{{ url_for('test') }}" method="POST" {% if session['current_question'] == 9 %}data-loading-message="Haciendo magia con las respuestas..."{% endif %}>
            <div class="question">
                <p>{{ question }}</p>
            </div>
            <div class="options">
                <label>
                    <input type="radio" name="response" value="a" required>
                    {{ option_a }}
                </label>
                <label>
                    <input type="radio" name="response" value="b">
                    {{ option_b }}
                </label>
                <label>
                    <input type="radio" name="response" value="c">
                    {{ option_c }}
                </label>
            </div>
            <button type="submit">Siguiente</button>
        </form>
    </div>
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>
</html>